<!DOCTYPE html>
<html>

<head>
    <title>Post App</title>
    <link rel="stylesheet" type="text/css" href="/hosted/styles.css" />
</head>

<body>
    <div id="app"></div>
    <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>

    <script src="/hosted/bundle.js" type="text/babel"></script>


    <div id="postForm">
        <form id="createPostForm" action="/createPost" method="POST">
            <label for="postContent">Share your thoughts:</label>
            <textarea id="postContent" name="content" rows="4" cols="50" placeholder="Write something..."></textarea>
            <button type="submit">Post</button>
        </form>
    </div>

    <div id="premiumButton">
        <button>Go Premium</button>
    </div>

    </script>
</body>

</html>