<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Post</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/hosted/styles.css" />
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/hosted/img/Logo.png" alt="face logo" /></a>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>

  <section id="content">
    <div class="welcome-message">
      <h2>Welcome to Thoughts</h2>
      <p>The page is meant for you to share your thoughts of the day and watch them disappear.</p>
      <p>Negative or positive, it's good to get your thoughts out there. Once posted, they disappear.</p>
    </div>
  </section>

  <div id="postMessage" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/hosted/loginBundle.js"></script>
</body>

</html>